/*Extra css*/
body {
    color: #333;
    background-color: #fff;
    font-family: "Open Sans","Helvetica","Arial",sans-serif;
}
h1 {
    font-size: 38px;
    line-height: 1.3;
    color: #333;
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizelegibility;
    color: #333;
}
p{
    word-wrap: break-word;font-size: 14px;line-height: 26px;
}
header{
    z-index: 99;
    position: fixed;
    width: 100%;
}
.navbar{
    padding: 0px;
}
.navbar .navbar-header .navbar-brand{
    color: #333;
    font-size: 22px;
    font-weight: 600;
}
.navbar-brand a {
    text-decoration: none;color:#fff;font-size:16px
}
.navbar .navbar-header .navbar-logo{
    color: #333;
    font-size: 22px;
    font-weight: 600;
    padding: 2px 20px;
    float: left;
}
.navbar .navbar-header .navbar-logo > img{
    /* width: 20px; */
    height: 40px;
}
.navbar-default .navbar-collapse{
    margin-top: 4px;
}
.navbar-default .navbar-nav.navbar-right{
    margin-top: -4px;
}
.navbar-fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    background: #F1F1F1;
    transition: box-shadow .1s;
    box-shadow: 0 1px 2px transparent;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 9999;
}
.navbar-nav a {
    text-decoration: none;
}
.navbar .navbar-left > .nav-item > a {
    color: #fff;
    position: relative;
    font-size: 14px;
    background-clip: padding-box;
    font-weight: 600;
    padding: 10px 10px;
    outline: 0;
    display: block;
    text-decoration: none;
    border: 1px solid transparent;
    border-top: 1px solid #e0e0e0;
    z-index: 21;
}
.navbar .navbar-left > .nav-item.menu > a:after {
    content: '';
    background:url('../img/arrow-down.png') no-repeat center;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 25px;
    color: #fff;
    font-size: 15px;
    margin-left: 10px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link {
    color: #fff;
}
.navbar .navbar-left > .nav-item.dropdown:hover > a{
    border-bottom: transparent;
}
.navbar .navbar-left > .nav-item .dropdown-menu{
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: -2px;
    z-index: 9;
    min-width: 260px;
    padding: 0px;
    border-radius: initial;
}
.navbar .navbar-left > .nav-item:hover > .dropdown-menu{
    display:block;
}
.dropdown-item:focus, .dropdown-item:hover{
    background: #DFF6FF;
    font-weight: normal;
    color: #333;
}
.navbar .navbar-left > .nav-item.dropdown .dropdown-menu a:hover {
    background: #DFF6FF;
    font-weight: normal;
    color: #333;
}
.navbar .navbar-left > .nav-item.dropdown .dropdown-menu .dropdown-item.active {
    background: #b8dcea;
}
.navbar .navbar-left > .nav-item.dropdown .dropdown-menu li > a{
    line-height: 30px;
    font-size: 16px;
    color: #333;
    min-height: 30px;
    display: block;
    padding: 5px 10px;
}
.navbar-toggler-right{top: 1.7rem;}
.wap-container{width:100%}
/*Menu*/
.menu{
    background:none transparent;
    padding-left: 0px;
}
.menu ul {
    padding-left: 0px;
    display: none;
}
.menu ul.open {
    display: block;
    max-height: 2000px;
    background: #fff;
}
.menu a{
    display: block;
    text-decoration: none;
    padding: 10px 10px;
    color: #fff;font-size:16px;
    background-color:transparent;
}
.menu > ul > li a{background-color: #fff;}
.menu li{
    position: relative;
    list-style: none;
    padding-left: 10px;
    background-color: #fff;
}
.menu li > a {
    border-top: 1px solid #e4e4e4;
}
.menu li.open{background: #fff;}
.menu .expand{max-height: 900px;}
.menu ul{
    display: block;
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s ease;
}
.menu-btn{
    background: #232d3b;
    text-align: center;
    cursor: s-resize;
}
.menu-btn img{
    vertical-align: middle;
    height: 50px;
}
.menu-open,
.menu .open > ul{
    max-height: 2000px;
}
.menu .open li {
    background: #fff;
}
.menu .open a {
    background-color: #fff!important;
}
.wrap-nav{display:flex;justify-content:space-between;padding: 10px 0;}

@media all and (min-width: 992px){
    .navbar .nav-item:hover, .menu.open {
        background:transparent;
        position: relative;
        z-index: 999;
    }
    .navbar .nav-item a {
        box-sizing:border-box;
        border: 1px solid transparent!important;
        font-size: 15px;
        color: #333;
    }
    .navbar .nav-item:hover > a, .menu.open > a {
        width: 100%;
        background: transparent!important;
        border-bottom: 2px solid #fff!important;
        border-bottom: none!important;
        z-index: 30;
    }
    .navbar .nav-item:hover > a:last-child, .menu.open > a:last-child {
        border-bottom: 1px solid #cecece!important;
    }
    .navbar .nav-item:hover > ul, .menu.open > ul {
        display:block
    }
    .navbar .nav-item:hover > ul > li, .menu.open > ul > li {
        background: #fff;
        /* border-top: none; */
        padding: 0px;
    }
    .navbar .nav-item:hover > ul > li a, .menu.open > ul > li a {
        background: #fff;
        background-color: #fff!important;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .menu li:hover {background-color: #DFF6FF!important;}
    .navbar .nav-item:hover > ul > li a:hover, .menu.open > ul > li a:hover {
        background: #DFF6FF;
        background-color: #DFF6FF!important;
    }
    .navbar .nav-item > ul {
        transition: none;
        max-height: 900px;
        position: absolute;
        background: #fff;
        min-width: 200px;
        text-align: left;
        border: 1px solid #cecece;
        top: 40px;
        z-index: 20;
        display:none;
    }
    .menu-btn{
        display: none;
    }
}
/*end menu*/

/*sideNav*/
#sideNav {display: none;}
#sideNav li {list-style:none;}
#sideNav .bs-sidenav {
    background: #F1F1F1;
    padding: 10px;
    border-radius: 0px;
    flex-direction: column;
    position: fixed;
    max-width: 267px;
    font-size: 14px;
    /*overflow-y: scroll;
    max-height: 500px;*/
}
#sideNav li a {
    line-height: 30px;
    text-decoration: none;
    color: #585858;
}
#sideNav li a.active {
    font-weight: 600;
    color: #0275d9;
}
#sideNav ul {
    padding-left: 15px;
}
#sideNav ul div:not(:last-child)[data-toggle="collapse"]:before{
    content: '+';
}
#sideNav ul div:not(:last-child)[data-toggle="collapse"][aria-expanded="true"]:before{
    content: '-';
}
#sideNav ul div:last-child[data-toggle="collapse"]:before{
    content: '-';
}
#sideNav .toc-level-0 > div > a {
    font-size: 16px;
    font-weight:600;
}
#sideNav .toc-level-1 > div > a {
    font-size: 14px;
    font-weight:600;
}
/*end sideNav*/

.container .col-md-9[role="main"] {
    background-color: #fff;
}
.fa-search:before {
    content: "\f002";
    font-size: 23px;
}
.search-btn .fa {
    display: block;
    position: absolute;
    text-align: center;
    top:9px;
    right: 5px;
    width: 80px;
    height: 55px;
    background: transparent;
    color: #fff;
    text-decoration: none;
    font-size: 26px;
    line-height: 50px;
    cursor: pointer;
}
.search-btn .fa-search-close {
    display: none;
}
.mobile-search-btn {
    display: none;
}
.mobile-search-btn > span{
    width: 80px;
    height: 55px;
    position: absolute;
    right: 0px;
    top:17px;
}
.mobile-search-btn .fa {
    display: block;
    text-align: center;
    right: 5px;
    width: 100%;
    height: 100%;
    background: #F1F1F1;
    color: #333;
    text-decoration: none;
    font-size: 32px;
    line-height: 55px;
    cursor: pointer;
}
.mobile-search-btn .fa-search-close{
    display: none;
}
.search-backdrop {
    display: none;
    opacity: .5;
    filter: alpha(opacity=50);
    position: fixed;
    top: 55px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    background-color: #000;
}
#mkdocs-search-query {
    height: 56px;
    border: none;
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    margin-right: 80px;
}
.search-box {
    padding: 0px;
    display: none;
}
.search-box.mobile {position: absolute;top: 0px;left: 0px;width: 100%;}
.mobile-search-close-btn {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    width: 50px;
    height: 56px;
    background: #F1F1F1;
    color: #333;
    text-decoration: none;
    font-size: 32px;
    line-height: 50px;
    cursor: pointer;
    font-style: initial;
}
#form-search {
    display: none;
}
.navbar .navbar-right .nav-item.item-search {position: relative;}
#mkdocs-search-results{
    display: none;
    position: absolute;
    top: 58px;
    left: 0px;
    height: 440px;
    background-color: #fff;
    z-index: 1000;
    padding: 10px 20px;
    overflow-y: scroll;
    padding-bottom: 200px;
    margin-right: 0px;
    width: 100%;
}
.mobile #mkdocs-search-results{
    top: 56px;
    border-top: 1px solid #ccc;
}
#mkdocs-search-results > article h3 > a{
    color: #333;
    font-family: "Open Sans","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 600;
}
#mkdocs-search-results > article p{
    color: #333;
    line-height: 1.4;
    margin: 0 0 0.625em;
    font-family: "Open Sans","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.main-content {padding: 70px 0 0;}
.protect-table {
    width: 100%;
    overflow-x: scroll;
}

/*Back to Top*/
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}
.bg-faded {
    background:url(../img/bg-slide1-4.png)  #0086e9;
}
/*Footer CSS*/
#footer{
    background-color: #000;
    color: #686868;
    padding: 38px 0;
    font-size: 16px;
}
.dropdown-item {
    padding: 0px;
}

/*Fix mobile*/
@media (max-width: 1024px) {
    .main-content *[role="main"] img {
        width: 100%!important;
    }
}
/*Disable hover active menu*/
@media all and (max-width: 992px) {
    .navbar .navbar-left > .nav-item:hover > .dropdown-menu {
        display: none;
    }
    .navbar .navbar-left > .nav-item.dropdown.show > .dropdown-menu {
        display: block;
    }
    .dropdown-submenu:hover>.dropdown-menu {
        display: none;
    }
    .menu > a.more:before {
        content: '';
        width: 7px;
        height: 14px;
        background: url(../img/arrow_right.png);
        background-repeat: no-repeat;
        float: right;
        cursor: move;
    }
    .menu.open > a.more:before {
        transform: rotate(90deg);
    }

    /*Sidebar toggle*/
    .bs-sidebar.nav-menu {
        /*pointer-events: none;*/
        position: fixed;
        z-index: 9;
        left: -303px;
        max-width: 268px;
        transition-duration: 0.5s;
    }
    .bs-sidebar.nav-menu.active {
        transform: translateX(303px);
        transition-duration: 0.5s;
    }
    .bs-sidebar.nav-menu .sidenav-toggle:before {
        pointer-events: all;
        content: '>';
        font-size: 45px;
        top: 107px;
        left: 0px;
        z-index: 10;
        background: #dadada;
        position: fixed;
        color: #fff;
        font-family: monospace;
        width: 30px;
        height: 40px;
        text-align: center;
        vertical-align: middle;
        line-height: 33px;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
        cursor: pointer;
    }
    .bs-sidebar.nav-menu.active .sidenav-toggle:before {
        left: 267px;
        content: '<';
        top: 10px;
    }
    /*mobile search btn*/
    .search-btn {
        display: none;
    }
    .mobile-search-btn {
        display: flex;
        flex-direction: row;
        height: 55px;
    }
}
.homepage-content .wrap-homepage .slide-01{
    color:#fff;
    text-align:center;padding:50px 0 219px;
    background: url(../img/bg-slide1.png), url(../img/bg-slide1-4.png) ;
    background-repeat:no-repeat, repeat;
    background-position:center bottom, center;
}
.homepage-content .wrap-homepage .slide-01 .title-page{color:#fff;font-size: 42px;font-weight: 600;margin-bottom:18px}
.homepage-content .wrap-homepage .slide-01 .desc-title{font-size:16px;margin-bottom:30px}
.form-search-home .input-box{display:flex;width: 80%;margin: 0 auto;}
.form-search-home .input-box input[type='text']{
    background: #fff;
    border: 0 none;
    height: 50px;
    padding: 0 20px;
    font-size:16px;
    border-radius:3px;    
}
.form-search-home .input-box .btn-search{line-height:50px;border-radius:3px;margin-left: 10px;background:#07446b;color:#fff;font-weight:bold;font-size:16px;width:166px;height:50px;text-align:center}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b3b3b3;font-size:16px;font-style:italic;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #b3b3b3;font-size:16px;font-style:italic;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #b3b3b3;font-size:16px;font-style:italic;
}
:-moz-placeholder { /* Firefox 18- */
  color: #b3b3b3;font-size:16px;font-style:italic;
}
.homepage-content .wrap-homepage .slide-02{clear:both;padding:55px 0 80px;text-align:center}
.homepage-content .wrap-homepage .slide-02 .title-box{font-size:36px;font-weight:600;margin-bottom: 10px;}
.homepage-content .wrap-homepage .slide-02 .sm-title-box{font-size:18px;color:#686868;margin-bottom:70px;}
.homepage-content .wrap-homepage .slide-02 .title-box-sm{color:#4b4b4b;font-size:16px;font-weight:600;text-align:center}
.homepage-content .wrap-homepage .slide-02 .title-box-sm:before{margin:0 auto 35px;content:' ';display:block;text-align:center;background:url('../img/img-common.png') no-repeat;width:83px;height:93px;}
.homepage-content .wrap-homepage .slide-02 .omnichannel:before{background-position:0 0}
.homepage-content .wrap-homepage .slide-02 .sale-marketing:before{background-position:-100px 0;    width: 95px;height:83px}
.homepage-content .wrap-homepage .slide-02 .ui-optimization:before{background-position:-262px 0;width:87px;height:91px;}
.homepage-content .wrap-homepage .slide-02 .ux-improvement:before{background-position:-274px 0}
.homepage-content .wrap-homepage .slide-02  ul.list-exts{margin:0;padding:0;text-align:left;    list-style: none;}
.homepage-content .wrap-homepage .slide-02  ul.omnichannel{padding:0;}
.homepage-content .wrap-homepage .slide-02  ul.list-exts li{list-style:none;text-align:center}
.homepage-content .wrap-homepage .slide-02  ul.list-exts li a{color:#0671bf;text-decoration:none;cursor:pointer}
.homepage-content .wrap-homepage .slide-02  button{}
.tab-content>.active{opacity:1}
.version-magento .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color:#4b4b4b;
}
.version-magento{margin:20px auto 70px}
.version-magento .nav-pills li,
.version-magento .nav-pills{display:inline-block;}
.version-magento .nav-pills{margin-left:10px;}
.version-magento .nav-pills li{    padding: 4px 30px;border-radius: 3px;border: 1px solid #07446b;margin: 0 10px;}
.version-magento .nav-pills li label{color:#4b4b4b}
.version-magento .nav-pills li.active{background:#07446b}
.version-magento .nav-pills li a{color:#4b4b4b;font-size:16px;text-decoration: none;}
.version-magento .nav-pills li.active a{color:#fff}
.dropdown-menu{padding: 20px;width:100%;border:1px solid #4b4b4b}
.version-magento [data-toggle="dropdown"]{display:block;border:1px solid #e68e19;border-radius:3px;height:46px;line-height:46px;color:#4b4b4b;font-size:16px;}
.version-magento [data-toggle="dropdown"]:hover{text-decoration:none}
.version-magento .dropdown-menu a{font-size:16px;color:#4b4b4b}
.homepage-content .wrap-homepage .slide-03 .title-box{font-size:36px;margin-bottom:70px;text-align:center;    font-weight: 700;}
.homepage-content .wrap-homepage .slide-03{background:#efefef;padding:94px 0 112px;color:#4b4b4b}
.homepage-content .wrap-homepage .slide-03 .title-box-ms{font-size:16px;color;#4b4b4b;font-weight:600;margin-bottom:35px;}
.homepage-content .wrap-homepage .slide-03 .desc-title{font-size:16px;line-height:1.8}
.homepage-content .wrap-homepage .slide-03 .title-box-ms:before{content:' ';display:inline-block;vertical-align:bottom;margin-right:10px;background:url(../img/img-common.png) no-repeat;width:59px;height:59px;}
.homepage-content .wrap-homepage .slide-03 .search-doc:before{background-position: -386px 0}
.homepage-content .wrap-homepage .slide-03 .explore-doc:before{background-position: -461px 0}
.homepage-content .wrap-homepage .slide-03 .download-doc:before{background-position: -547px 0}
.homepage-content .wrap-homepage .slide-04{background:#318fdf;padding:110px 0;}
.homepage-content .wrap-homepage .slide-04 .title-box{font-size:36px;font-weight:600;color:#fff;    text-align: center;margin-bottom: 35px;}
.homepage-content .wrap-homepage .slide-04 .actions{text-align:center}
.homepage-content .wrap-homepage .slide-04 .actions a{text-decoration: none;border-radius:3px;line-height: 55px;background:#09466d;text-align:center;display:inline-block;padding: 0 100px;color:#fff;font-size: 24px;font-weight:600;}
.form-search-home .input-box .btn-search:hover,
.homepage-content .wrap-homepage .slide-04 .actions a:hover{text-decoration: none;box-shadow: 0 0 1px rgba(76,86,103,.25), 0 2px 18px rgba(31,37,50,.32);
    -webkit-box-shadow: 0 0 1px rgba(76,86,103,.25), 0 2px 18px rgba(31,37,50,.32);
    -moz-box-shadow: 0 0 1px rgba(76,86,103,.25),0 2px 18px rgba(31,37,50,.32);cursor:pointer}
.main-content [role='main'] img{max-width:100%}
@media (max-width: 992px){
    .homepage-content .wrap-homepage .slide-02  ul.list-exts{margin-bottom:50px;    padding-left: calc(50% - 94px);}
    .homepage-content .wrap-homepage .slide-02  ul.list-exts li{}
    .homepage-content .wrap-homepage .slide-02 .title-box-sm:before{margin-bottom:10px;    margin-left: 0;}
    .homepage-content .wrap-homepage .slide-02 .title-box-sm {text-align: left;padding-left: calc(50% - 95px);}
    .homepage-content .wrap-homepage .slide-03 .desc-title{margin-bottom:50px}
    .navbar-nav.navbar-left{position: absolute;right: 0;width: 100%;background: #fff;top:69px;}
    .navbar .navbar-left > .nav-item > a,
    .menu > ul > li a,
    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link{color:#000}
    .mobile-search-btn > span {width: 80px;height: 55px;position: absolute;right: 66px;}
    .mobile-search-btn .fa {background: transparent;color: #fff;}
    .navbar-light .navbar-toggler {border-color: rgba(255,255,255,.1);}
    .homepage-content .wrap-homepage .slide-01{
        color: #fff;
    text-align: center;
    padding: 70px 0 228px;
    background: url(../img/bg-slide1-mobile.png), url(../img/bg-slide1-4.png);
    background-repeat: no-repeat, repeat;
    background-position: center bottom, center;}
    .homepage-content .wrap-homepage .slide-03 .title-box-ms{margin-bottom:5px;}
    #sideNav .bs-sidenav {min-width: 267px;}
}
    
#mkdocs-search-results-2{background: #fff;
    color: #000;
    text-align: left;
    padding: 50px 20px;
    max-height: 400px;
    overflow: auto;
    width: calc(100% - 374px);
    margin-left: 112px;
    margin-top: 7px;
    display:none;
}
#mkdocs-search-results-2.active{display:block}
#mkdocs-search-results-2 a{font-size:16px;}   
@media (min-width: 768px) {
 .col-sm-offset-12 {
        margin-left: 100%;
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-sm-offset-9 {
        margin-left: 75%;
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-sm-offset-6 {
        margin-left: 50%;
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-sm-offset-3 {
        margin-left: 25%;
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-sm-offset-0 {
        margin-left: 0;
    }
}
-webkit-font-smoothing: antialiased;
